@charset "UTF-8";

header{
    display: flex;
    flex-flow: column nowrap;
}
h1{
    flex-basis: 40px;
    margin-right: 10px;
}
nav{
    display: flex;
    flex-flow: column nowrap;
    width: 97vw;
}
 nav > a{
    flex: auto;
    text-align: center;
 }

 #conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #icon{
    display: block;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
    cursor: pointer;
 }