@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: gray;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    margin-right: 80px;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

a{
    margin: 1.5px;
    flex-shrink: 0;
}

header > nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(66, 66, 66);
    padding: 10px;
    border-radius: 5px;
}

header > nav > a:hover{
    background-color: white;
    color: rgb(66, 66, 66);

    transition: background-color .5s;
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.384);
}

#icon{
    display: none;
}